.company-sidebar {
  background-color: rgb(38, 28, 37);
  color: white;
  padding: 15px;
  text-align: center;
}

.company {
  opacity: .3;
  cursor: pointer;
}

.company.current {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 5px;
}

.company:hover {
  opacity: 1;
}

.channel-sidebar {
  background-color: #4B3949;
  color: white;
  padding: 20px;
  width: 250px;
}

.channel {
  opacity: .3;
}

.channel.active {
  opacity: 1;
}
